{% extends "base.html" %}{% block title%}Renew Password{% endblock %}
{% block content %}
<div class="container"  id="renewPage">
    <form action="" method="POST" class="d-flex flex-column align-items-center">
        <h1 align="center" class="mb-6">Renew Your Password</h1>
        <div class="form-group mb-3" style="width:80%;">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control mb-3" id="email" name="email">
        </div>

        <div class="form-group mb-3" style="width:80%;">
            <label for="password" class="form-label">New Password</label>
            <div class="">
                <input type="password" class="form-control" id="password" name="newPassword" onkeyup="passwordValidate()">
                <label class="ms-3" id="errorBox"></label>
            </div>
        </div>

        <div class="form-group mb-3" style="width:80%;">
            <label for="newPassword2" class="form-label">Confirm New Password</label>
            <input type="password" name="newPassword2" id="newPassword2" class="form-control" style="width:100%;">
        </div>

        <!-- Modal -->
        <div class="modal fade" id="securityModal" tabindex="-1" aria-labelledby="securityModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="securityModalLabel">Security Key</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-dark">Please enter your 4 digit security key.</p>
                    <input type="text" name="security" id="security" maxlength="4" placeholder="1234">
                    <br><br>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" id="btnSignUp" disabled data-bs-toggle="modal" data-bs-target="#securityModal">Update</button>
    </form>
</div>
{% endblock%}
